Repository aws-games/cloud-game-development-toolkit, pull requests merged in 2024-09, with the labels that each got.

#271 ci: add dependency review action
  .github/workflows/dependency-review.yml
Labels: ci, github_actions

#240 Gabeaws/jenkins/complete example
  modules/jenkins/examples/complete/dns.tf
  modules/jenkins/examples/complete/local.tf
  modules/jenkins/examples/complete/main.tf
  modules/jenkins/examples/complete/variables.tf
  modules/jenkins/examples/complete/versions.tf
  modules/jenkins/examples/complete/vpc.tf
  samples/simple-build-pipeline/README.md
  samples/simple-build-pipeline/dns.tf
Labels: modules

#329 docs: updates to documentation
  CONTRIBUTING.md
  assets/packer/perforce/helix-core/README.md
  docs/getting-started.md
Labels: documentation
