Repository aws-games/cloud-game-development-toolkit, pull requests merged in 2024-10, with the labels that each got.

#333 docs: add perforce complete example in docs
  mkdocs.yml
Labels: documentation, perforce

#330 Unreal Engine Horde Module
  docs/media/diagrams/unreal-engine-horde-architecture.drawio
  docs/media/images/unreal-engine-horde-architecture.png
  docs/modules/unreal/horde/examples/complete.md
  docs/modules/unreal/horde/terraform-docs.md
  docs/modules/unreal/horde/unreal-engine-horde.md
  mkdocs.yml
  modules/perforce/helix-authentication-service/local.tf
  modules/perforce/helix-core/locals.tf
  modules/perforce/helix-swarm/locals.tf
  modules/unreal/horde/README.md
  modules/unreal/horde/alb.tf
  modules/unreal/horde/asg.tf
  modules/unreal/horde/config/agent/horde-agent.ansible.yml
  modules/unreal/horde/config/agent/horde-agent.service
  modules/unreal/horde/config/ssm/AnsibleRunCommand.json
  modules/unreal/horde/docdb.tf
  modules/unreal/horde/ecs.tf
  modules/unreal/horde/elasticache.tf
  modules/unreal/horde/examples/complete/data.tf
  modules/unreal/horde/examples/complete/dns.tf
  modules/unreal/horde/examples/complete/main.tf
  modules/unreal/horde/examples/complete/variables.tf
  modules/unreal/horde/examples/complete/versions.tf
  modules/unreal/horde/examples/complete/vpc.tf
  modules/unreal/horde/iam.tf
  modules/unreal/horde/local.tf
  modules/unreal/horde/outputs.tf
  modules/unreal/horde/sg.tf
  modules/unreal/horde/variables.tf
  modules/unreal/horde/versions.tf
Labels: unreal engine, terraform

#338 Fix(Simple Build Pipeline): Removes race condition between helix core and helix authentication service
  modules/perforce/helix-core/plan
  modules/perforce/helix-core/pln
  samples/simple-build-pipeline/README.md
  samples/simple-build-pipeline/main.tf
Labels: bug, samples

#352 chore: adds triage label to our issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_improvements.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: maintenance
